body{
  font-family: 'Mate SC', serif !important;
  background: #f3f3f3;
  font-size: 15px;
}

.btnClear{
    padding: 200px 20000px;
    font-size: 20px;
    border-radius: 10px;
    width:100%;

}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: blue;
}

@media only screen and (max-width: 649px) {
  .BtnContainer {
      font-size: 0.8rem;
    }
.RemoveBtn,
.Btn {
  font-size: 0.8rem;
}
.BtnSpan {
  margin: 0 0;
}
}